html{
    background-color: #f7f2ee;
    color: #4d4c4a;
}
nav{
    background-color: #f7f2ee;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    width: auto;
    overflow: hidden;
    margin-top:0;
    margin-bottom: 2rem;
    padding-top: 0;

}
#name{
    font-size: 5rem;
    font-family: 'Silkscreen', cursive;
    margin-bottom: 0;
    justify-self:center;
    grid-row: 1/2;
    grid-column: 1 / 5;
}

#menu{
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 5;
    grid-row: 2/3;
    grid-column: 2 / 4;
    list-style-type: none;
    font-size: 2rem;
    font-family: 'Cardo', serif;
    margin-top: 0;
}

#menu div{
    cursor: pointer;
    text-decoration: none;
}
#menu #about{
    grid-column: 2 /3;
}
#menu a{
    text-decoration: none;
    color:#4d4c4a;
}
#menu #project{
    grid-column: 3/4;
}
#menu #contact{
    grid-column: 4/5;
}
#about-me-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 20px;
}
#about-me-container img{
    overflow: auto;
    width: 13rem;
    grid-column:2;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
    border-left: 2px solid grey;
    border-radius: 5px;
}
#about-me-text{
    grid-column: 3/5;
    padding-left: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
}
#projects-container{
    display: grid;
    grid-template-columns: 1fr 1.25fr 1.25fr 1.25fr 1fr;
    height: 20rem;
    justify-items: center;
    margin-top: 4rem;
}
#project-1{
    border: 1px black solid;
    background-color: lightgray;
    color:#f7f2ee;
    grid-row: 1;
    grid-column: 2;
    height: 90%;
    width: 95%;
}
#project-2{
    border: 1px black solid;
    background-color: grey;
    grid-row:1;
    grid-column: 3;
    height: 90%;
    width: 95%;
}
#project-3{
    border: 1px black solid;
    background-color: #4d4c4a;
    grid-row:1;
    grid-column: 4;
    height: 90%;
    width: 95%;
}
#project-1-label{
    display:flex;
    grid-column: 2;
    grid-row: 1;
    align-items: flex-start;
    margin-top: 20px;
    font-family: 'Silkscreen', cursive;
}
#project-1-label:hover{
    animation: twirl 1.5s forwards;
}

#project-2-label{
    display:flex;
    align-items:flex-start;
    margin-top: 20px;
    color: black;
    grid-column: 3;
    font-family: 'Silkscreen', cursive;
    grid-row: 1;
}
#project-2-label:hover{
    animation: twirl 1.5s forwards;
}
#project-3-label{
    display:flex;
    color: lightgray;
    margin-top: 20px;
    grid-column: 4;
    grid-row: 1;
    align-items:flex-start;
    font-family: 'Silkscreen', cursive;
}
#project-3-label:hover{
    animation: twirl 1.5s forwards;
}
#Contact-container{
    display: block;
    width:65%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3rem;
}
#Contact-container a{
    cursor:pointer;
}
#email{
    background-color:#4d4c4a;
    color:#f7f2ee;
    font-family: 'Silkscreen', serif;
    text-align:center;
    height: 2rem;
    
}
#linkedin{
    background-color:#4d4c4a;
    color:#f7f2ee;
    font-family: 'Silkscreen', serif;
    text-align: center;
    border-top:#f7f2ee 1px solid;
    height: 2rem
}
#github{
    background-color:#4d4c4a;
    color:#f7f2ee;
    font-family: 'Silkscreen', serif;
    border-top:#f7f2ee 1px solid;
    height: 2rem;
    text-align: center;
}
#instagram{
    background-color:#4d4c4a;
    color:#f7f2ee;
    font-family: 'Silkscreen', serif;
    text-align: center;
    height: 2rem;
    border-top:#f7f2ee 1px solid;
}
footer{
    margin-top: 1.5rem;
    font-family: 'Cardo', serif;
    font-size: .8rem;
    text-align:center;
}

@keyframes twirl{
    0% { transform: rotateY(0deg)}
    100% {transform: rotateY(360deg)}
}